{%- comment -%}
  This include renders a list of items from the specified collection.
  Usage: {% include collection_list.html collection="forloeb" %}
{%- endcomment -%}

{% assign collection = site[include.collection] | sort: "order" %}
<ul>
  {% for item in collection %}
    <li>
      <h2>{{ item.title | default: "[Ingen titel]" }}</h2>
      <p>{{ item.description | default: "[Ingen beskrivelse]." }}</p>
      <a href="{{ item.url | relative_url }}">Læs mere</a>
    </li>
  {% endfor %}
</ul>
